.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
}

.container {
    height: 30vh;
    border: solid red 1px;
}

.top {
    background-image: url(../images/bg-pattern-card.svg);
    
}